In [1]:
import pandas as pd

In [3]:
coffee = pd.read_csv("./Data/coffeeShop.csv")

In [15]:
coffee.query('Total > 5 and Price >= 3')

,Date,Transaction_ID,Customer_Name,Item,Category,Quantity,Price,Total,Payment_Method
0,2025-08-01,TXN001,John Smith,Latte,Drink,2,3.5,7.0,Cash
4,2025-08-02,TXN005,Ethan Brown,Caramel Macchiato,Drink,2,4.2,8.4,Card
6,2025-08-03,TXN007,Liam Johnson,Americano,Drink,2,3.0,6.0,Card
9,2025-08-04,TXN010,Isabella Adams,Cold Brew,Drink,2,3.7,7.4,Card