### Pandas Basics

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['A', 'B', 'C'])
# To look at the rows from top order
print(df.head())

   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

In [28]:
# Number of rows to be shown from top can be taken as an argument
df.head(2)

   A  B  C
0  1  2  3
1  4  5  6

In [29]:
# Number of rows to be shown from bottom can be taken as an argument
df.tail(2)

   A  B  C
1  4  5  6
2  7  8  9

In [41]:
print(df.columns, end="\n\n")
print(df.index, end="\n\n")
print(df.info(), end="\n\n")
print(df.describe())

Index(['A', 'B', 'C'], dtype='object')

RangeIndex(start=0, stop=3, step=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 204.0 bytes
None

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0